{% extends 'base.html' %} {% block meta %}
<title>Todolist</title>
{% endblock meta %} {% block content %}
<style>
  td {
    color: palevioletred  ;
    font-family: verdana;
    font-size: 70%;
  }
  h3 {
    color: palevioletred  ;
    font-family: verdana;
    font-size: 140%;
  }
  input[type=submit] {
    border-radius:10px;
    background-color: pink;
    color: palevioletred;
  }
</style>
<h3>Create Task</h3>
<form method="POST" action="">
  {% csrf_token %}
  <table>
    <tr>
      <td>Title:</td>
      <td>
        <input
          type="text"
          name="title"
          placeholder="Title"
          class="form-control"
        />
      </td>
    </tr>

    <tr>
      <td>Description:</td>
      <td>
        <input
          type="text"
          name="description"
          placeholder="Description"
          class="form-control"
        />
      </td>
    </tr>

    <tr>
      <td></td>
      <td><input class="btn submit_btn" type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>
{% endblock content %}