{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    .login{
        color: palevioletred;
        font-family: verdana;
        text-align: center;
        margin: 10% auto;
        display: block;
        width:500px;
    }
    input[type=submit] {
        border-radius:10px;
        background-color: pink;
        color: palevioletred;
    }
    body{
        background-image: url(https://media.istockphoto.com/photos/marble-granite-white-wall-surface-pink-pattern-graphic-abstract-light-picture-id1212991534?k=20&m=1212991534&s=612x612&w=0&h=pxn9FU5p5m_BlrqDqtjuXQhxbzy2z9AORNPwsEXLJww=);
    }
</style>
<body>
<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>
</body>
{% endblock content %}