{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %} 
<style>
    h1 {
    color: palevioletred  ;
    font-family: verdana;
  }
  input[type=submit] {
    border-radius:10px;
    background-color: pink;
    color: palevioletred;
  }
  ul, table {
    color: palevioletred  ;
    font-family: verdana;
  }
  .register{
    color: palevioletred;
    font-family: verdana;
    text-align: center;
    margin: 5% auto;
    display: block;
    width:500px;
    
  }
  body{
    background-image: url(https://media.istockphoto.com/photos/marble-granite-white-wall-surface-pink-pattern-graphic-abstract-light-picture-id1212991534?k=20&m=1212991534&s=612x612&w=0&h=pxn9FU5p5m_BlrqDqtjuXQhxbzy2z9AORNPwsEXLJww=);
  }
</style> 
<body>
<div class = "register">
    
    <h1>Registration Form</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Register"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div> 
</body> 

{% endblock content %}