

{% extends 'base.html' %}

 {% block content %}
 <style>
  .card {
    margin: 25px 25px
  }
  h1 {
    color: black  ;
    font-family: verdana;
    
  }
  h3 {
    color: black;
    font-family: verdana;
  }
  h5 {
    color: black;
    font-family: verdana;
  }
  table {
    color: palevioletred;
    border-spacing: 0;
    margin: 30px;
  }
  th {
    border: 1px solid purple;
    border-spacing: 0;
    padding: 10px;
  }
  button {
    border-radius:10px;
    background-color: pink;
    color: palevioletred;
  }
  .todolist{
    color: palevioletred;
    font-family: verdana;
    text-align: center;
    margin: 5% auto;
    display: block;
    width:500px;
  }
  body{
    background-image: url(https://i.pinimg.com/736x/07/af/be/07afbe2a18d869b285abc3fa43fa6917.jpg);
  }
 </style>
<body>
<div class = "todolist">
  <h1>To-do List</h1>

  <h5>Created by: Shannon </h5>

  <h3>Hi, {{user}}!</h3>

  <button><a href="{% url 'todolist:show_create_todo' %}">Create New Task</a></button>
  <button><a href="{% url 'todolist:logout' %}">Log Out</a></button>

</div>
    
    <div class="row">
    {% for task in todo %}
    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{task.title}}</h5>
        <p class="card-text">{{task.date}}</p>
        <p class="card-text">{{task.description}}</p>
      </div>
    </div>
    {% endfor %}
    </div>
</body>
 {% endblock content %}
