

{% extends 'base.html' %}

 {% block content %}
 <style>
  .card {
    margin: 50px 50px
  }
  h1 {
    color: palevioletred  ;
    font-family: verdana;
    
  }
  h3 {
    color: palevioletred;
    font-family: verdana;
  }
  h5 {
    color: plum;
    font-family: verdana;
  }
  table {
    color: palevioletred;
    border-spacing: 0;
    margin: 30px;
  }
  th {
    border: 1px solid purple;
    border-spacing: 0;
    padding: 10px;
  }
  button {
    border-radius:10px;
    background-color: pink;
    color: palevioletred;
  }
 </style>

  <h1>To-do List</h1>

  <h5>Created by: Shannon </h5>

  <h3>Hi, {{user}}!</h3>

  <button><a href="{% url 'todolist:show_create_todo' %}">Create New Task</a></button>
  <button><a href="{% url 'todolist:logout' %}">Log Out</a></button>


    
    <div class="row">
    {% for task in todo %}
    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{task.title}}</h5>
        <p class="card-text">{{task.date}}</p>
        <p class="card-text">{{task.description}}</p>
      </div>
    </div>
    {% endfor %}
    </div>

 {% endblock content %}
